@{
    ViewData["Title"] = "ログイン失敗";
}

<div class="d-flex justify-content-center align-items-center flex-column vh-100">
    <h1 class="mb-3">ログインに失敗しました。</h1>
    <a href="/Home/Index">戻る</a>
</div>
