@{
    ViewData["Title"] = "ログイン画面";
}

<div class="d-flex justify-content-center align-items-center min-vh-100 overflow-hidden home-bg text-white">
    <div class="text-center w-25">
        <h1>ログイン画面</h1>
        <form action="/Home/Login" method="post">
            <div class="my-3">
                <label for="id" class="form-label">ユーザーid</label>
                <input type="text" id="id" name="id" class="form-control" autocomplete="off"/>
            </div>

            <div class="my-3">
                <label for="pass" class="form-label">パスワード</label>
                <input type="password" id="pass" name="pass" class="form-control" autocomplete="off" />
            </div>

            <button type="submit" class="btn btn-primary w-100 my-4">ログイン</button>
        </form>
    </div>
</div>