@model LMS.Models.Entities.BookEntity;
@{
    Layout = "_LmsLayout";
}

<h2 class="text-center mt-3">蔵書編集</h2>
<div class="text-center mt-4">@ViewData["Message"]</div>

<div class="d-flex justify-content-center align-items-center mt-4 text-white">
    <form asp-action="Update" method="post" class="p-4 border rounded border-white" style="width: 400px;">
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="number" id="isbn" name="Isbn" value="@Model.Isbn" class="form-control" placeholder="ISBNを入力" required />
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">タイトル</label>
            <input type="text" id="title" name="Title" value="@Model.Title" class="form-control" placeholder="タイトルを入力" required />
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">著者</label>
            <input type="text" id="author" name="Author" value="@Model.Author" class="form-control" placeholder="著者を入力" required />
        </div>

        <button type="submit" class="btn btn-primary w-100">更新</button>
    </form>
</div>